<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paste Bin</title>
  <style>
    body {
      margin: 0;
    }

    textarea {
      width: 100vw;
      height: 100vh;
      border: none;
      resize: none;
      font-family: sans-serif;
      font-size: 18px;
      outline: none;
      padding: 20px;
      margin: 0;
    }

    @media (prefers-color-scheme: dark) {
      textarea {
        background-color: #2B2A33;
        color: #FFF;
      }

      textarea::placeholder {
        color: #E8E8E8;
      }
    }
  </style>
</head>

<body>
  <textarea autofocus name="paste" id="text" placeholder="Paste Bin" spellcheck="false"><%= content %></textarea>
  <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"
    integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg"
    crossorigin="anonymous"></script>
  <script>
    const uuid = '<%= uuid %>'
    const socket = io()
    const text = document.getElementById('text')

    socket.on('INPUT_EVENT', ({ id, content }) => {
      if (uuid !== id) text.value = content
    })

    text.addEventListener('input', () => {
      socket.emit('PASTE_EVENT', { id: uuid, content: text.value })
    })
  </script>
</body>

</html>
